In [1]:
sc

In [2]:
from pyspark.sql.types import Row
from datetime import datetime

In [9]:
simple_data = sc.parallelize([1, "John", 11])
simple_data

ParallelCollectionRDD[8] at parallelize at PythonRDD.scala:175

In [10]:
simple_data.count()

3

In [11]:
simple_data.first()

1

In [12]:
simple_data.take(2)

[1, 'John']

In [13]:
simple_data.collect()

[1, 'John', 11]

In [14]:
df = simple_data.toDF()
# This will fail as this dataframe has no schema

TypeError: Can not infer schema for type: <class 'int'>

In [38]:
data = sc.parallelize([Row(id=1, name="John", age=11), Row(id=2, name="Alice", age=12)])

In [39]:
df = data.toDF()
# This will work as now we have a schema with two Row objects

In [40]:
df.count()

2

In [41]:
df.collect()

[Row(age=11, id=1, name='John'), Row(age=12, id=2, name='Alice')]

In [42]:
df.show()

+---+---+-----+
|age| id| name|
+---+---+-----+
| 11|  1| John|
| 12|  2|Alice|
+---+---+-----+

In [15]:
records = sc.parallelize([[1, "John", 11], [2, "Alice", 12]])
records

ParallelCollectionRDD[17] at parallelize at PythonRDD.scala:175

In [23]:
records.collect()

[[1, 'John', 11], [2, 'Alice', 12]]

In [27]:
records.take(1)

[[1, 'John', 11]]

In [28]:
records.count()

2

In [20]:
df = records.toDF()
# Spark will infer the schema and 
# create the Dataframe from the RDD
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [21]:
df.show()
# Displays top 20 rows

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1| John| 11|
|  2|Alice| 12|
+---+-----+---+